/* CONTENEDOR */
.moving-text {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 2;

}

/* TEXTO */
.moving-text span {
  display: inline-block;
  white-space: nowrap;
  font-size: 9vw;

  /* responsive */
  font-weight: 600;
  color: var(--text);

  letter-spacing: 0.05em;

  animation: scrollLeft 20s linear infinite;
  font-family: "Monserrat";
}

/* Lower TXT */
.introduction-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: min(700px, 60vw);
  /* <= responsive real */
  padding: 0 16px;
  z-index: 2;
  text-align: center;
}

.introduction-text h2 {
  font-size: 1.50em;
  color: var(--text);
  font-family: "Montserrat";
  opacity: 0.75;
}

.btn-fornitures {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -10%);

  padding: 5px 7px;
  font-size: 1.20rem;

  background: #DA4B2C;
  border-radius: 8px;
  z-index: 2;
  white-space: nowrap;
  color: var(--text);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.btn-link {
  color: var(--text);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 600;
  margin-left: -20px;

}

/* Parte roja */
.btn-label {
  color: var(--text);
  padding: 10px 50px;
  transition: all 0.3s ease;
  opacity: 0.8;
}

.btn-fornitures:hover {
  transform: translate(-50%, -10%) scale(1.03);
}

.btn-fornitures:hover .btn-label {
  transform: translateX(2px);
}

/* Caja blanca de la flecha */
.btn-arrow {

  background: var(--text) !important;
  color: #DA4B2C;
  padding: 1px 11px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  margin-left: -33px;
  margin-right: 01px;

}

/* Tamaño flecha */
.btn-arrow i {
  font-size: 1.70rem;
  transition: transform 0.3s ease;

}

Animación elegante .btn-text:hover .btn-arrow i {
  transform: translateX(6px);
}

/* ANIMATION */
@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@media(max-width: 1200px) {
  .introduction-text {
    width: 500px;
    padding-bottom: 90px;
  }
}

@media(max-width: 1200px) {
  .btn-fornitures {
    padding: 5px 7px;
    text-align: center;
    font-size: 1.00rem;
  }
}

@media(max-width: 1200px) {
  .btn-arrow {
    padding: 1px 10px;
    margin-left: -30px;
  }

}